<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>Countdown</title>
  </head>
  <body>
    <div class="container">
      <h1 id="timer">Time Left</h1>
      <input type="datetime-local" name="time-input" id="inp" />
      <button onclick="setTime()" class="butt-st">Start</button>
    </div>
    <script src="../scripts/timer.js"></script>
  </body>
</html>
