<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>Text and speech converter</h1>
      <div class="pick">
        <p>Text to speech</p>
        <label class="switch">
          <input type="checkbox" id="mode" onclick="ToggleMode()" />
          <span class="slider"></span>
        </label>
        <p>Speech to text</p>
      </div>
      <section id="Text2Speech" class="active">
        <textarea id="InputText" cols="30" rows="10"></textarea>
        <button id="read" onclick="Read()">Read For Me</button>
      </section>
      <section id="Speech2Text" style="display: none">
        <h2 id="listen" onclick="listen()">&#128266</h2>
        <p id="Output">
          Click the icon to start recording a transcript
        </p>
      </section>
    </div>
    <script src="../scripts/speech.js"></script>
    <script src="../scripts/recog.js"></script>
  </body>
</html>
